@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .menu-item {
        @apply text-lg text-white block;
    }

    .menu-item:not(:last-child) {
        @apply mb-5 md:mb-0;
    }

    .section-title {
        @apply text-2xl text-cs-primary font-montserrat font-semibold text-center mb-2;
    }

    .section-subtitle {
        @apply text-cs-black/60 font-light text-center;
    }
}

* {
    font-family: 'Roboto', sans-serif;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 200vh;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}